  <launch>

  <arg name="scan_topic"      default="scan"/>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="roll" default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw" default="0"/>

  <!-- Load init config (/neobot/map_name); map_server reads map_name from the same yaml -->
  <rosparam file="$(find neobot_bringup)/../neobot_scripts/neobot_init.yaml" command="load" ns="neobot"/>
  
  <include file="$(find neobot_description)/launch/neobot_description.launch"/>

  <include file="$(find neobot_core)/launch/neobot_core.launch"/>

  <include file="$(find fdilink_ahrs)/launch/imu.launch"/>

  <include file="$(find bluesea2)/launch/lidar.launch"/>

  <!-- args placeholder is replaced by run_map_server.bash using map_name from neobot_init.yaml -->
  <node name="map_server" pkg="map_server" type="map_server" 
        args="placeholder.yaml" output="screen"
        launch-prefix="$(find neobot_bringup)/../neobot_scripts/run_map_server.bash">
        <param name="frame_id" value="map"/>
  </node>

  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <rosparam file="$(find neobot_bringup)/params/amcl_params.yaml" command="load" />
    <param name="scan"                      value="$(arg scan_topic)"/>
    <param name="initial_pose_x"            value="$(arg x_pos)"/>
    <param name="initial_pose_y"            value="$(arg y_pos)"/>
    <param name="initial_pose_a"            value="$(arg yaw)"/>
  </node>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <!-- MoveBase -->
    <param name="controller_frequency" value="10.0" />
    <param name="controller_patience" value="15.0" />

    <!-- Costmap -->
    <rosparam file="$(find neobot_bringup)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find neobot_bringup)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find neobot_bringup)/params/global_costmap_params.yaml" command="load" />        
    <rosparam file="$(find neobot_bringup)/params/local_costmap_params.yaml" command="load" />

  <!-- Global Planner -->
    <param name="base_global_planner" value="global_planner/GlobalPlanner" />
    <param name="planner_frequency" value="1.0" />
    <param name="planner_patience" value="5.0" />
    <rosparam file="$(find neobot_bringup)/params/global_planner_params.yaml" command="load" />

    <!-- Local Planner -->
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <rosparam file="$(find neobot_bringup)/params/dwa_local_planner_params.yaml" command="load" />
    </node>

  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find neobot_bringup)/rviz/sim_start.rviz"/> -->
  </launch>
